/*Global styling*/
:root {
    --primary-text-color: #006e5e;
    --secondary-text-color: #5b883e;
    --main-bg-color: #114e31;
    --secondary-bg-color: #8f9135;
    --highlight-color: #f5945c;
    --secondary-highlight-color: #c4943e;
}

:global(body) {
    display: flex;
    justify-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-position: center center;
    background-attachment: fixed;
    font-family: "Caveat Brush", "sans-serif";
}

.errorMainMenuButton {
    background-color: var(--main-bg-color);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}