/*Importing Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

/*Global styling*/
:root {
    --primary-text-color: #006e5e;
    --secondary-text-color: #5b883e;
    --main-bg-color: #114e31;
    --secondary-bg-color: #8f9135;
    --highlight-color: #f5945c;
    --secondary-highlight-color: #c4943e;
}

body {
    justify-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-position: center center;
    background-attachment: fixed;
    font-family: "Caveat Brush", "sans-serif";
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

/*Styling for Main menu page*/
#mainMenu {
    background-image: url("../images/pub-bg-image.webp");
}

#heading,
#enterName,
#menu {
    justify-items: center;
    text-align: center;
    margin: 5px;
}

#heading {
    margin-top: 40px;
    margin-bottom: 0px;
    text-shadow: 2px 1px white;
    color: var(--main-bg-color);
}

#enterName h3 {
    margin-bottom: 20px;
    color: var(--main-bg-color);
    text-shadow: 2px 1px white;
}

input {
    text-align: center;
    border-radius: 5px;
    background-color: var(--main-bg-color);
    color: var(--highlight-color);
    font-size: 1.2rem;
}

::-webkit-input-placeholder {
    color: var(--highlight-color);
}

::-moz-placeholder {
    color: var(--highlight-color);
}

:-ms-input-placeholder {
    color: var(--highlight-color);
}

::-ms-input-placeholder {
    color: var(--highlight-color);
}

::placeholder {
    color: var(--highlight-color);
}

footer {
    margin-top: 20px;
}

/*Styling the buttons on the main menu page*/
.playGame,
#rules,
#numberOfGames {
    background-color: var(--highlight-color);
    color: var(--main-bg-color);
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--main-bg-color);
    border-right: 2px solid var(--main-bg-color);
    font-size: 1.5rem;
}

/*Styling the modals*/

#sliderModalBody {
    display: flex;    
}

#sliderModalBody span {
    margin-right: 13px;
}

.modal-content {
    background-color: var(--main-bg-color);
    color: var(--highlight-color);
    border: 2px solid var(--highlight-color);
}

.close {
    background-color: var(--highlight-color);
    border-bottom: 2px solid var(--main-bg-color);
    border-right: 2px solid var(--main-bg-color);
    color: var(--main-bg-color);
}

.close:hover:hover {
    margin-bottom: 4px !important;
}

/*Styling for the game page*/

/*Navbar styling*/
.gamePageNavBtns {
    background-color: var(--highlight-color);
    color: var(--main-bg-color);
    font-size: 1.3rem;
    border-radius: 5px;
}

#gamePage,
#winner,
#loser {
    background-image: url("../images/pub-bg-image.webp");
}

#navbar {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--main-bg-color);
    color: var(--highlight-color);
    border: 2px solid var(--highlight-color);
    border-radius: 5px;
}

#scoreBoard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--main-bg-color);
    border: 2px solid var(--highlight-color);
    border-radius: 5px;    
    color: var(--highlight-color);
}

#scoreBoard span {
    font-size: 1.2rem;
    text-align: center;
    padding: 2px 5px;
}

#computerSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

#computerSection h3 {
    color: var(--main-bg-color);
    font-size: 30px;
    text-shadow: 2px 2px var(--secondary-highlight-color);
    text-align: center;
}

#computerChoice {
    background-color: #006e5e;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 48px;
}

#computerChoice img {
    width: 57px;
    margin-top: 15px;
}

#resultDisplay {
    background-color: #006e5e;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    position: absolute;
    margin-top: 158px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}

#playerSection img {
    margin-top: 23px;
    width: 55%;
}

#rock img {
    margin-top: 41px;
}


#playerSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 208px;
    text-align: center;
}

#rock:hover,
#paper:hover,
#scissors:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .5s ease;
}

/*Styling the winner/loser/draw page*/
#winner,
#loser {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.resultPageHeading,
#resultPara {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#resultPara,
#scoreBoard,
#navbar {
    font-size: 1.5rem;
}

.playAgain,
.mainMenu {
    background-color: var(--highlight-color);
    color: var(--main-bg-color);
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--main-bg-color);
    border-right: 2px solid var(--main-bg-color);
}

.btn:hover {
    background-color: var(--highlight-color) !important;
    color: var(--main-bg-color) !important;
    margin-bottom: 10px !important;
    border-bottom: 2px solid var(--main-bg-color) !important;
    border-right: 2px solid var(--main-bg-color) !important;
}

/*Styling the error page*/

#error {
    border-radius: 10px;
    background-color: var(--highlight-color);
    color: var(--main-bg-color);
    width: 100%;
    margin-bottom: 10px;
    border: .1px solid black;
    border-bottom: 2px solid var(--main-bg-color);
    border-right: 2px solid var(--main-bg-color);
    font-size: 1.5rem;
    text-align: center;
    margin-top: 250px;
}

#error #errorMainMenuBtn {
    margin-top: 20px;
    margin-bottom: 20px;
}

#error #errorMainMenuBtn a {
    background-color: var(--main-bg-color);
    padding: 5px 10px;
    color: var(--highlight-color);
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-bottom: var(--secondary-highlight-color) 3px solid;
    border-right: var(--secondary-highlight-color) 3px solid;
}

/*Media queries for the main menu page*/
@media screen and (min-width: 348px) {

    /*Game Page media queries*/
    #computerChoice {
        margin-top: 39px;
        width: 157px;
        height: 116px;
    }

    #computerChoice img {
        width: 65px;
    }

    #resultDisplay {
        margin-top: 160px;
        width: 321px;
    }
}

@media screen and (min-width: 353px) {

    #playGame,
    #rules, .mainMenu {
        width: 50%;
    }

    #numberOfGames {
        width: 50%
    }
}

@media screen and (min-width: 992px) {

    #playGame,
    #rules,
    #numberOfGames,
    .mainMenu {
        width: 30%;
    }

    input {
        padding: 4px 8px;
    }

@media screen and (max-width: 1920px) and (min-width: 1200px) {
    #enterName h3 {
        margin-top: 70px;
        font-size: 3.5rem;
    }
    input {
        font-size: 1.8rem;
    }
    #playGame,
    #numberOfGames,
    #rules {
        font-size: 2rem;
    }
    
}

}