@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

/*Global styling*/
:root {
    --primary-text-color: #006e5e;
    --secondary-text-color: #5b883e;
    --main-bg-color: #1b7d4e;
    --secondary-bg-color: #8f9135;
    --highlight-color: #f5945c;
    --secondary-highlight-color: #c4943e;  
}

body {    
    justify-items: center; 
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    background-repeat: no-repeat;    
    background-blend-mode: soft-light;
    background-position: center center;
    background-attachment: fixed;  
    font-family: "Caveat Brush", "sans-serif";       
}

.container {       
    display: flex;    
    flex-direction: column;
    flex-wrap: nowrap;
}

/*Styling for Main menu page*/
#heading, #enterName, #menu {  
    justify-items: center;
    text-align: center;       
    margin: 10px;
    padding: 10px;    
}

#heading {
    margin-top: 40px;
    margin-bottom: 0px;
    text-shadow: 2px 1px white;
    color: var(--main-bg-color);
}

#enterName p {
    color: var(--main-bg-color);
    text-shadow: 2px 1px white;
    font-size: medium;
}

input {
    text-align: center;
    border-radius: 5px;
    background-color: var(--main-bg-color);
}
::placeholder {
    color: var(--highlight-color);
}

/*Styling the buttons on the main menu page*/
#playGame, #numberOfGames, #rules, #closeGame {
    background-color: var(--highlight-color);
    color: var(--main-bg-color);
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--main-bg-color);
    border-right: 2px solid var(--main-bg-color);
    
} 



